@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
  background:ivory;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  overflow-x:hidden;
}
#text{
  text-align:center;
  position:relative;
  top:200px;
  font-size:7em;
  
}
.text0,.text2{
    color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.text1,.text3{
    color: black;
  -webkit-text-fill-color: #bc0000; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
#dummy{
  position:relative;
  height:100vh;
  width:100%;
}
#back{
  position:relative;
 padding-top:50%;
  text-align:center;
 font-size:1.5em;
  cursor:pointer;
}


@media only screen and (max-width: 600px) {
  #back{
    cursor:none;
    font-size:0.8em;
  }
  #text{
        top:70px;
    font-size:2.25em;
  }

}
